venv
.env
.conda
__pycache__/
__pycache__/config.cpython-38.pyc
node_modules/
.git
recommended_jobs.json
.venv
test_gemini.py
test_embed.py
careeron-key.pem
samconfig.toml
logs_100002813862.zip
test_nvidia.py
